<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Block Blast Solver</title>
    <meta
      name="description"
      content="A mostly functional solver for the game Block Blast."
    />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Block Blast Solver" />
    <meta
      property="og:description"
      content="A mostly functional solver for the game Block Blast."
    />
    <meta property="og:site_name" content="Block Blast Solver" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Block Blast Solver" />
    <meta
      property="twitter:description"
      content="A mostly functional solver for the game Block Blast."
    />
    <meta name="theme-color" content="#3b82f6" />
  </head>
  <body class="bg-game-bg text-white min-h-screen">
    <slot />
  </body>
</html>
