<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Block Blast Solver</title>
  </head>
  <body class="bg-game-bg text-white min-h-screen">
    <slot />
  </body>
</html>
